<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.soa.dao.EquipmentManagerMapper">
							<!-- sql片段 -->
	<sql id="equType">
		 type_id typeId,type_name typeName, parent_id parentId
	</sql>
	<sql id="equInfo">
		 user_name userName,equ_Id equId,type_Id typeId,equ_Name equName,equ_In_Time equInTime,equ_Code equCode,equ_State equState,remark1
	</sql>
							<!-- select 查询语句 -->
	<select id="queryAllEqusByCondition" parameterType="cn.soa.entity.EquipmentInfo" resultType="cn.soa.entity.EquipmentInfo">
			select <include  refid="equInfo"/>  from IOT_EQUIPMENT_INFO
				<where>	
					<if test ="info!=null">
			
					<if test="info.equState!=null">
						and equ_State=#{info.equState}
					</if>
					<if test="info.equName!=null">
						and equ_Name   like '%${info.equName}%' 
					</if>
					<if test="info.userName!=null">
						and    user_name =#{info.userName} 
					</if>
					<if test="info.equCode!=null">
						and   equ_Code =#{info.equCode} 
					</if>
					</if>
					<if test ="typeIds!=null">
					and 	type_Id in	
					<foreach collection="typeIds" item="item" index="index" open="(" close=")" separator=",">
           				 #{item}
       				 </foreach>
					</if>
				</where>
					<if test="pageSize!=-1">
						limit #{page}  ,#{pageSize}
				</if>
	</select>
	
	<select id="queryAllTypeOfEqu" resultType="cn.soa.entity.EquipmentType">
		select <include refid="equType"/> from IOT_EQUIPMENT_TYPE
	</select>
	<select  id="QueryEquCount" resultType="int">
		select  count(1) cou from IOT_EQUIPMENT_INFO
			<where>
				<if test ="info!=null">
			
					<if test="info.equState!=null">
						and equ_State=#{info.equState}
					</if>
					<if test="info.equName!=null">
						and equ_Name like  '%${info.equName}%'  
					</if>
					<if test="info.userName!=null">
						and    user_name =#{info.userName} 
					</if>
					<if test="info.equCode!=null">
						and    equ_Code =#{info.equCode} 
					</if>
					</if>
					<if test ="typeIds!=null">
					and 	type_Id in	
					<foreach collection="typeIds" item="item" index="index" open="(" close=")" separator=",">
           				 #{item}
       				 </foreach>
					</if>
			</where>
	</select>
	
	<!-- 查询统计设备分类数量 -->
	<select id="findLastEquipNum" resultType="java.util.HashMap">
		select t.TYPE_NAME as 'NAME',
			sum(case i.equ_name when '-1' then 0 else 1 end ) as 'NUM'
		from iot_equipment_info i 
			right join iot_equipment_type t on i.TYPE_ID=t.TYPE_ID
		group by t.TYPE_NAME
	</select>
	
	
	<!-- 查询统计设备使用情况-->
	<select id="findEquipUse" resultType="java.util.HashMap">
		select case EQU_STATE 
				when 0 then '未使用' 
				when 1 then '预约中' 
				else '使用中' 
			end as 'name',
			sum(case EQU_NAME when '-1' then 0 else 1 end) as 'value'
		from iot_equipment_info 
		group by EQU_STATE
	</select>
	
	<!-- 查询所有的最后级分类-->
	<select id="findLastEquipType" resultType="string">
		select distinct(t.TYPE_NAME) as 'name'
		from iot_equipment_info i 
			right join iot_equipment_type t on i.TYPE_ID=t.TYPE_ID
	</select>
								<!-- update 修改语句 -->
	<update id="updateEquBaseInfo">
			update IOT_EQUIPMENT_INFO 
			<trim prefix="set" suffixOverrides=","> 
				<if test="info.typeId!=null">
					type_Id=#{info.typeId},
				</if>
				<if test="info.equName!=null">
					equ_Name=#{info.equName},
				</if>
				<if test="info.equInTime!=null">
					equ_In_Time=#{info.equInTime},
				</if>
				<if test="info.equState!=null">
					equ_State=#{info.equState},
				</if>
				<if test="info.remark1!=null">
					remark1=#{info.remark1},
				</if>
				<if test="info.userName!=null">
					user_Name=#{info.userName},
				</if>
			</trim>
			where equ_Id=#{info.equId}
	</update>
									<!-- insert 插入语句 -->
	<insert id="insertEquBaseInfo" useGeneratedKeys="true" keyProperty="id" parameterType="cn.soa.entity.EquipmentInfo">
				insert into  IOT_EQUIPMENT_INFO
			<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="info.typeId !=null ">
				type_Id,	
			</if>
			<if test="info.equName !=null ">
				equ_Name,	
			</if>
			<if test="info.equInTime !=null ">
				equ_In_Time,	
			</if>
			<if test="info.equCode !=null ">
				equ_Code,	
			</if>
			<if test="info.equState !=null ">
				equ_State,	
			</if>
			<if test="info.remark1 !=null ">
				remark1,	
			</if>
		</trim>		
		values
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="info.typeId !=null  ">
				#{info.typeId},	
			</if>
			<if test="info.equName !=null ">
				#{info.equName},	
			</if>
			<if test="info.equInTime !=null ">
				#{info.equInTime},
			</if>
			<if test="info.equCode !=null ">
				#{info.equCode},
			</if>
			<if test=" info.equState!=null ">
				 #{info.equState},	
			</if>
			<if test="info.remark1 !=null ">
				#{info.remark1},
			</if>
		</trim>
	</insert>
	
	<delete id="deleteEquBaseInfo">
		delete from IOT_EQUIPMENT_INFO where equ_Id  in
		 <foreach collection="ids" item="item" index="index" open="(" close=")" separator=",">
            #{item}
        </foreach>
	</delete>
</mapper>